.box {
  height: 30px;
  background-color: orange;
  text-align: center;
  color: #fff;
  line-height: 30px;
  margin: 0 auto 5px auto;
  border-radius: 999px;
}

.box-1 {
  width: 50px;
}
.box-2 {
  width: 60px;
}
.box-3 {
  width: 90px;
}
.box-4 {
  width: 120px;
}
.box-5 {
  width: 150px;
}